/*sticky footer*/

html,
body {
        height: 100%;
	/*font-family: Ubuntu,sans-serif;
	color: #111;*/
	font-family; Roboto, sans-serif;
	color: #444;
	font-size: 18px; 
	background-color: #711b1e; /* not ECL red but close*/
}

div#page-content > p {
	margin-bottom: 50px;
}

a {
	color: #996f0e; /* picked by decreasing Eclat Orange lightness on https://www.hsluv.org/ to get better contrast". */
}

a#lg {
	color: white;
}

.footnote {
        font-size: 18px;
}

div .container-fluid{
margin-top: 15px;

}

div .coucou {
	background-color: #ffffff;
	border:1px solid #9FC6FF;
	padding:50px;
	border-radius:10px;
}

h1 {
	color: white;
}

.sidebar h1 {
	color: black;
}

div .sidebar {
	/*background-color: rgba(255,255,255,.3);; */
	margin-left: 1em;
	padding: 1em;
}

div .Flux_RSS {
	padding: 1em;
	background-color: white;
	border: 1px;
	margin-bottom: 10px;
	border-radius: 10px;
}


.label-primary {
	background-color: #d89e19; /* Override bootstrap config with Eclat Orange */
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	background-color: #d89e19; /* Same */
	border-color: #d89e19;
}

div .panel-group {
	margin: 1em;
}

div .page-header{
	text-shadow: 1px 1px 1px rgba(0,0,0,.7);
	text-color: #ffffff;
	background-color: #d89e19; /* ECLAT Orange */
	border-radius:10px;
	text-align: center;
	height: 100px;
	margin: auto;
}

.panel-primary > .panel-heading {
	background-color: #d89e19;
}

/* Centrage du titre */
div .page-header > h1{
	font-family: Arial, sans-serif;	
	color: #ffffff;
	line-height: 100px;
	text-shadow: 2px 2px 8px #000; /* Shadow to increase contrast */
}

/* Wrapper for page content to push down footer */
#wrap {
  width: 100%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -81px;
  /* Pad bottom by footer height */
  padding: 0 0 81px;
}

.pagination {
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: middle;
}

/* Set the fixed height of the footer here */
#footer {
  /*
   *firefox, 'important' highest priority, ignore following overwriting
   */
  min-height: 60px;
  height: auto !important;
  /*
   *IE wont recognize 'important' and 'min-height,
   *it will auto adjust height
   */
  height: 60px;
  border-width: 0;
  border-radius: 0;
  margin-top: 21px;
  margin-bottom: 0;
}

#footer #footer-text {
  font-size: 13px;
  float: none;
  margin: 20px 0;
}

/*
 *force footer-text within one line,
 * better display for blank page
 */
@media (max-width: 410px) {
  #footer #footer-text #bootstrap { display: none; }
}

@media (max-width: 290px) {
  #footer #footer-text #theme { display: none; }
}

@media (max-width: 180px) {
  #footer #footer-text #engine { display: none; }
}

#navbar {
  border-radius: 0;
  font-size: 17px;
  border-width: 0; 
}

#navbar hr {
	height: 3px;
	color: #d89e19;
	background-color: #d89e19;
	padding-bottom : 0px;
	margin-bottom: 0px;
	margin-top: 35px;
}

#navbar .navbar-header {
  height: 100px;
}


#navbar .navbar_logo {
  height: 140px;
}

#navbar .navbar-default {
	border-top: 3px;
	border-color: #d89e19;
}


#navbar .navbar-header .navbar-brand {
  font-size: 18px;
  line-height: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
}

#navbar .navbar-header .navbar-toggle {
  margin-top: 13px;
  margin-bottom: 13px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-width: 1px;
  height: 34px;
}


#navbar .navbar-header {
	margin-top : -50px;
	padding-top : 0px;
}

#navbar .navbar-nav > li > a {
  line-height: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
}
@media (max-width: 767px) {
  #navbar .navbar-nav >li > a {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

#navbar .dropdown-menu {
  font-size: 15px;
}

#navbar .navbar-form {
  /*border-width: 1px 0 1px 0;*/
  height: 60px;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

#navbar .navbar-form .form-control {
  border-width: 2px;
  padding: 6px;
  height: 40px;
  width: 170px;
}
@media (max-width: 767px) {
  #navbar .navbar-form .form-control {
    width: 100%;
  }
}

#navbar .navbar-collapse {
  border-width: 0;
}

@media (min-width: 768px) {
  #menuitem-list {
    margin-right:0;
  }
}

#navbar .navbar-collapse .navbar-nav {
  border-width: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.page-header {
  margin: 0;
  margin-bottom: 21px;
  padding: 0;
}

h1 {font-size: 1.8em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.3em;}
h4 {font-size: 1.2em;}
h5 {font-size: 1.1em;}
h6 {font-size: 1.0em;}

#home_article_list h1 {font-size: 1.6em;
text-shadow: 2px 2px 8px #000; /* Shadow to increase contrast */}
#home_article_list h2 {font-size: 1.4em}
#home_article_list h3 {font-size: 1.2em}
#home_article_list h4 {font-size: 1.1em}
#home_article_list h5 {font-size: 1.0em}
#home_article_list h6 {font-size: 1.0em}

#article_info {
  font-size: 1.0em;
}
#article-content > p{
	margin-top: 3em;
	margin-bottom: 3em;
}


.panel-body > .panel-group:last-child {
  margin-bottom: 0;
}

blockquote {
  font-size: 1.0em;

}

blockquote p {
  font-size: 100%;
}

.pagination {
  font-size: 1.2em;
}

td.code {
    width:100%;
}

p {
  text-align: justify;
  /*margin: 20px 0 0 0;*/
  /*word-break: break-all;*/
  /*hyphens: auto;*/
  /*-ms-hyphens: auto;*/
  /*-webkit-hyphens: auto;*/
  /*-moz-hyphens: auto;*/
}

img {
  max-width: 100%;
}



/* CHANGEMENT DE COULEURS DE LA BARRE DE NAVIGUATION */
.navbar-default {
  background-color: rgba(113,25,28,.9);
  border-color: rgba(113,25,28,.9);
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-text {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	background-color: #711b1ee0; /* override bootstrap settings to make it not transparent on hover */
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  background-color: #711b1ee0; /* close to ECL red, change active to lighter #7e2f32; */
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: rgba(113,25,28,.9);
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffbbbc;
  background-color: rgba(113,25,28,.9);
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: rgba(113,25,28,.9);
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffbbbc;
  background-color: #96172e; /* Lighter ECL header red to color open menu */
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #96172e; /* Lighter ECL header red to color current menu */
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: rgba(113,25,28,.9);
}
.navbar-default .navbar-toggle {
  border-color: rgba(113,25,28,.9);
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: rgba(113,25,28,.9);
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    Background-color: #96172e; /* Lighter ECL header red to color open menu */
  }
}

